<div class="panel panel-default col-md-8 col-md-offset-2 question">
  <div class="panel-body text-center">

    <%= hidden_field_tag "ans[actor][name]", :actor %>
    <h2>What actor(s) do you prefer?</h2>
    <p>
      <% @actors.each do |actor| %>
        <%= check_box_tag "ans[actor][answer][]", actor.id %>
        <%= label_tag "ans[actor][answer][]", actor.name %>
      <% end %>
    </p>
    <h3>How much do you care about the movie's actor?</h3>
    <p>
      <% Question.weight.each do |label, weight| %>
        <%= radio_button_tag "ans[actor][weight]", weight %>
        <%= label_tag "ans[actor][weight]", label %>
      <% end %>
    </p>
    <a class="btn btn-primary new-question">Ask Another Question</a>

  </div>
</div>