<div class="panel panel-default col-md-8 col-md-offset-2">
  <div class="panel-body text-center">
    <%= form_for(@question) do |f|%>

      <h2>What genre(s) do you prefer?</h2>
      <p>
        <%= f.collection_check_boxes(:selection, @genres, :id, :name)%> 
      </p>
      <h3>How much do you care about the movie's genre?</h3>
      <p>
        <% Question.weight.each do |l, weight| %>
          <%= radio_button_tag :user_weight, weight %>
          <%= label_tag :user_weight, l %>
        <% end %>
      </p>
      <button class="btn btn-primary">Ask Another Question</button>
      <%= f.submit "Show me my recommendations", class: "btn btn-primary"%>

    <%end%>
  </div>
</div>