<div class="panel panel-default col-md-8 col-md-offset-2">
  <div class="panel-body text-center">

      <%= hidden_field_tag "genre[name]", :genre %>
      <h2>What genre(s) do you prefer?</h2>
      <p>
        <%@genres.each do |genre|%>
          <%= check_box_tag "genre[user_genre][]", genre.id%>
          <%= label_tag "genre[user_genre][]", genre.name%>
        <%end%>
      </p>
      <h3>How much do you care about the movie's genre?</h3>
      <p>
        <% Question.weight.each do |label, weight| %>
          <%= radio_button_tag "genre[genre_weight]", weight %>
          <%= label_tag "genre[genre_weight]", label %>
        <% end %>
      </p>
      <button class="btn btn-primary">Ask Another Question</button>

  </div>
</div>