<div class="panel panel-default col-md-8 col-md-offset-2 question">
  <div class="panel-body text-center">

      <%= hidden_field_tag "ans[runtime][name]", :runtime %>
      <h2>What runtime(s) do you prefer?</h2>
      <p>
        <% @runtimes.each do |label, value| %>
          <%= check_box_tag "ans[runtime][answer][]", value %>
          <%= label_tag "ans[runtime][answer][]", label %>
        <% end %>
      </p>
      <h3>How much do you care about the movie's runtime?</h3>
      <p>
        <% Question.weight.each do |length, weight| %>
          <%= radio_button_tag "ans[runtime][weight]", weight %>
          <%= label_tag "ans[runtime][weight]", length %>
        <% end %>
      </p>
      <a class="btn btn-primary new-question">Ask Another Question</a>

  </div>
</div>