<script type="text/javascript">
    function emptyValue() {
      if ($("input[type='checkbox']:visible:checked").length === 0){
        alert('You need to click a checkbox and a button.')
        return false;
       }else{
        return true;
      }
    }
</script>
<%= form_tag(enter_question_path) do %>
  <div class="question-partials" id="form">

    <%= render "actor" %>
    <%= render "director" %>
    <%= render "genre" %>
    <%= render "rating" %>
    <%= render "runtime" %>

  </div>
  <div class="clearfix"></div>
  <div class="text-center results-btn">
    <%= submit_tag "Show my results!", class: "btn btn-success real-results-btn red-glow btn-animation", onClick:"return emptyValue();"%>
  </div>
<%end%>