<%= form_tag(enter_question_path) do %>
  <div class="question-partials">

    <%= render "actor" %>
    <%= render "director" %>
    <%= render "genre" %>
    <%= render "rating" %>
    <%= render "runtime" %>

  </div>
  <div class="clearfix"></div>
  <div class="text-center results-btn">
    <%= submit_tag "Show my results!", class: "btn btn-success real-results-btn red-glow btn-animation" %>
  </div>
<%end%>