<%= form_for(@question) do |f|%>

  <%= f.label :selection, "What genre(s) do you prefer?"%><br>
  <%= f.collection_check_boxes(:selection, @genres, :id, :name)%> <br> 
  <%= f.label :user_weight, "How much do you care about the movie's genre?"%><br>
  <% Question.weight.each do |l, weight| %>
    <%= radio_button_tag :user_weight, weight %>
    <%= label_tag :user_weight, l %>
  <% end %><br>
  <button>Ask Another Question</button>
  <%= f.submit "Show me my recommendations"%>

<%end%>