
<div class="all-movies">
  <% @movies.each do |movie| %>
    <div class="movie panel panel-default col-md-8 col-md-offset-2" data-name="<%= @score[movie.title] %>">
        <%if @score[movie.title] != nil%>
          <div class="score-box text-center">
            <h3 class="score">
              <%= (@score[movie.title]*100).ceil %><span>%</span>
            </h3>
          </div>
        <%end%>
<<<<<<< HEAD
=======
    <div class="movie panel panel-default col-md-8 col-md-offset-2" data-name="<%= @score[movie.title]%>">
        <div class="score-box text-center">
          <h3 class ="score"><%= (@score[movie.title]*100).ceil %><span>%</span></h3>
        </div>
>>>>>>> 241388b952e855d9c70b6ecbecb2fa1bacdc7f09
=======
>>>>>>> ef916f428addd2dedf8b518570c0051c15535c3b
        <h2><%= movie.title %></h2>
      <div class="panel-body">
        <div class="row">
          <div class="movie-img">
            <%= image_tag("#{movie.image_url}", alt: "#{movie.title}") %>
          </div>
          <div class="movie-description">
            <ul>
              <p><strong>Genre:</strong>
                <%= movie.genres.map { |g| g.name }.join(", ") %>
              </p>
              <p><strong>Rating:</strong> <%= movie.rating %></p>
              <p><strong>Runtime:</strong> <%= movie.runtime %> mins</p>
              <p><strong>Director:</strong> <%= movie.director %></p>
              <p><strong>Actors:</strong>
                <%= movie.actors.map { |a| a.name }.join(", ")%>
              </p>
              <p><strong>Description:</strong> <%= movie.description %></p>
            </ul>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>

<div class="clearfix"></div>
<div class="text-center">
  <a class="btn btn-primary show-all-movies blue-glow btn-animation">Show all movies</a>
</div>